/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: "myfont";
  src: url("./myfont.woff"), 
}

@font-face {
  font-family: "myFont2";
  src: url("./myFont2.ttf");
}

html {
  font-size: 10px;
  font-family: "myFont2";
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h1 , h2 {
  font-family: "myFont";
  letter-spacing: 0.5rem;
}

h2+p {
  text-indent: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.3rem;
  word-spacing: 0.3rem;
}

section ul li {
  list-style: circle;  
}

section ol li {
  list-style: upper-roman;  
}

section ul li ,section ol li {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

a[href^="http"]:visited{
  color: #0f0;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.25rem;
  background-size: 100%;
  background-image: url("external-link-52.png");
}

aside ul li {
  font-size: 1.2rem;
  line-height: 2rem;
  list-style: circle;
}

nav {
  margin: 0;
  gap: 0.625%;
}

nav ul li {
  display: flex;
  font-size: 3rem;
  text-align: center;
  line-height: 5rem;
  list-style: none;
  border: #000 solid  1px;
  width: 20rem;
  margin-top: 0;
  margin: 3rem;
  margin-left: 0;
  background-color: #fff;
}

nav ul li a {
  flex: 1;
  outline-color: transparent;
  text-decoration: none;
}

nav ul li:focus {
  background-color: #000;
}

nav ul li:hover {
  background-color: #f90;
}

nav ul li:active {
  background: #f0f;
  color: #fff;
}